alabaster==0.7.12
attrs==21.2.0
Automat==20.2.0
autopep8==1.7.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
cloud-init==22.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
daal==2021.6.0
daal4py==2021.6.3
dbus-python==1.2.18
dgl-cu113==0.9.0
dglgo==0.0.2
distro==1.7.0
distro-info===1.1build1
docutils==0.19
dpcpp-cpp-rt==2022.2.0
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
imagesize==1.4.1
imbalanced-learn==0.9.1
importlib-metadata==4.6.4
incremental==21.3.0
intel-cmplr-lib-rt==2022.2.0
intel-cmplr-lic-rt==2022.2.0
intel-opencl-rt==2022.2.0
intel-openmp==2022.2.0
isort==5.10.1
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
littleutils==0.2.2
MarkupSafe==2.0.1
more-itertools==8.10.0
netifaces==0.11.0
networkx==2.8.6
numpy==1.23.2
numpydoc==1.4.0
oauthlib==3.2.0
ogb==1.3.4
outdated==0.2.1
packaging==21.3
pandas==1.4.4
pexpect==4.8.0
Pillow==9.2.0
psutil==5.9.2
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycodestyle==2.9.1
pydantic==1.10.2
Pygments==2.13.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
pytz==2022.1
PyYAML==5.4.1
rdkit-pypi==2022.3.5
requests==2.25.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.1.2
scikit-learn-intelex==2021.6.3
scipy==1.9.1
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
snowballstemmer==2.2.0
sos==4.3
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
ssh-import-id==5.11
systemd-python==234
tabulate==0.8.10
tbb==2021.7.0
threadpoolctl==3.1.0
toml==0.10.2
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.64.1
Twisted==22.1.0
typer==0.6.1
typing_extensions==4.3.0
ubuntu-advantage-tools==27.10
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
zipp==1.0.0
zope.interface==5.4.0
